body{width: 100%;margin:0 auto;padding-bottom: 50px}



/*Navigation bar design. */
#logo{order:1px solid red; width:300px;height:100px;float:left;overflow:hidden;}
#menu{order:1px solid red;float:left;width:100%;margin-bottom:0px;}

nav ul li:hover>ul{display:block}
nav ul
{
list-style-type:none;
border-radius:10px;
padding:0 20px;
margin:0;
position:relative;
display:inline-table;
float:right;
}

nav ul li{float:right}
nav ul li:hover{background:#57D1FA;}
nav ul li:hover a{color:#ffffff}
nav ul li a{display:block;padding:25px 40px;text-decoration:none;font:Arial 25 ;color:#57D1FA}

nav ul ul{display:none;background:#57D1FA;border-radius:0px;position:absolute;padding:0px;top:100%;z-index:8;}
nav ul ul li{float:none;position:relative;border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
}
nav ul ul li a{
	padding:15px 50px;
	color:#ffffff;
}

.banner{width: 100%;
	height: 450px;
	margin:auto;
	overflow:hidden;
	/*border:1px solid red;*/
}

.leftMenu{
	width:13%;
	/*border:1px solid green;*/
	height:100%;
	float:left;
	margin:7px;
}
.wrapper{
	width: 70%;
	height: 100%;
	margin:7px;
	float:left;
	padding-bottom:30;
	overflow:auto;
	/*border:1px red solid;*/
}
.rightMenu{
	width:13%;
	/*border:1px solid green;*/
	height:100%;
	margin:7px;
	float:left;
}
banner img{
	width:100%;
	height:450px;
}

.form-container{
	width: 90%;
	height: 45px;
	position: absolute;
	bottom: 0;
}
.block-display{
	width: 100%;
	height: 0px;
	background: #ccc;
}
.block-display1{
	width: 100%;
	height: 50px;
	background: #ccc;
}
.transition{
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out
    -o-transition:all 0.5s ease-in-out;
    transition::all 0.5s ease-in-out;
}
.top{
  position: fixed;
  opacity: 0.5;
  z-index: 99999;
}
.side-block{
	float: left;
	width: 0px;
	height: 100px;
	background: #ccc;
}
.side-block1{
	float: left;
	width: 150px;
	height: 100px;
	background: #ccc;
}
#side-btn{
	float: left;
	margin-top: 18px;
	font-size: 30px;
	cursor: pointer;
	border: 1px solid gray;
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: beige;
}
